<div class="min-h-full">
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Meus contatos</h1>

      <div class="hidden lg:flex lg:gap-x-12 pt-2">
        <div class="flex">
          <div class="mr-4">
            <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page" class="block font-semibold text-blue-800">
              Criar conta
            </a>
          </div>
          <div class="mx-4">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="block font-semibold text-blue-800">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
